//portada index
.portada {
    display: flex;
    background-color: #F3EDEA;
    align-items: center;
    justify-content: center;

    img {
    width: 100%;
    }
}

//carrousel
.carrousel {
    background-color: aliceblue;
}

//new in
.newin {
    background-color: #F3EDEA;
}


