// Header
.header {
    background-color: #f3bfdd;
    background-image: url(/imagenes/descarga.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;

    .welcome-text {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    color: #333;

    p {
        animation: slideUp 5s ease infinite;
    }
    }

    .model-img {
    max-width: 80%;
    height: auto;
    }

    h5 {
    font-size: xx-large;
    color: white;
    }
}
